
/* Messages */
.msg_warning, .msg_error, .msg_success, .msg_information {
    font-weight: bold;
    margin: 6px;
    padding:12px 10px 12px 60px;
    background-repeat: no-repeat;
    background-position: 20px;
    text-align: left;
}

.msg_warning {
    border: 1px solid #9F6000;
    background-color: #FEEFB3;
    color: #9F6000;
    background-image: url('/images/messenger/warning.png');

}

.msg_error {
    border: 1px solid #FF0000;
    background-color: #F9E3E3;
    color: #C20000;
    background-image: url('/images/messenger/error.png');

}

.msg_information {
    border: 1px solid #00529B;
    background-color: #BDE5F8;
    color: #00529B;
    background-image: url('/images/messenger/information.png');

}

.msg_success {
    border: 1px solid #003300;
    background-color: #ccffcc;
    color: #003300;
    background-image: url('/images/messenger/success.png');
}

#messenger li {
    list-style-type: none;
}
