* {
    margin: 0;
    padding: 0;
}

body {
    padding: 30px 0;
    font: 13px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #4E4E4E;
    background: #224C66;
}


a:hover {
    text-decoration: none;
}

img {
    border: none;
}

#main {
    margin: 0 auto;
    padding: 0 10px;
    width: 900px;
    text-align: left;
    background-color: #ffffff;
}

#header {

}

#logo {
    padding-top: 20px;
    height: 60px;
}

#logo h1 {
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 44px;
    line-height: 52px;
}

#logo h1, #logo h1 a{
    color: #E87B68;
    text-decoration: none;
}

#login {
    text-align: right;
    padding-top: 5px;
}

#menu {
    height: 50px;
    background: #E87B68;
}

#menu ul {
    list-style: none;
    padding-left: 15px;
    clear: both;
}

#menu ul li {
    float: left;
    display: block;
    padding: 0;
    height: 50px;
}

#menu ul li a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
}

#menu ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

#middle {
clear: both;
}

#sidebar {
    float: left;
    margin-bottom: 25px;
    width: 240px;
    border-right: 1px solid #EFF5F9;
}

#sidebar h3 {
    font-size: 15px;
    line-height: 24px;
    color: #444;
    padding-left: 30px;
}

#sidebar ul {
    list-style: none;
    margin-bottom: 25px;
    padding: 5px 30px 10px 15px;
}

#sidebar ul.lastul {
    margin-bottom: 0;
}

#sidebar ul li {
    margin: 0;
    padding: 0 5px 0 15px;
    line-height: 28px;
    border-bottom: 1px dashed #CFDAE0;
}

#sidebar ul li.firstli {
    border-top: 1px dashed #E1EDF4;
}

#sidebar ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #147E9D;
}

#sidebar ul li a:hover {
    color: #D3B849;
}

#content {
    float: right;
    padding-left: 10px;
    padding-top: 20px;
    width: 640px;
}

#content h3 {
    float: left;
    padding-left: 20px;
    width: 400px;
    font-size: 24px;
    line-height: 30px;
    color: #147E9D;
}

#content h3 a {
    color: #147E9D;
    text-decoration: none;
}


#footer {
    clear: both;
    padding: 6px 0;
}

